<section id="musics" class="section">
  <div class="wrapper">
    <h2>músicas</h2>
    <div class="content">
      <p>
        essa seção conta com gravações de algumas das músicas que fazem
        parte do setlist da Rockfield. ouça sem nenhuma moderação! :)
      </p>
      <h3>covers</h3>
      <iframe
        height="450"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/120249003%3Fsecret_token%3Ds-JaVvk&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"
      ></iframe>
    </div>
  </div>
</section>