<section id="the-band" class="section">
  <div class="wrapper">
    <h2>a banda</h2>
    <div class="content">
      <p>
        A Rockfield Band foi formada em novembro de 2014, na cidade de 
        <strong>Manaus</strong>, no estado do <strong>Amazonas</strong>, com a
        proposta de fazer rock nacional e internacional de qualidade (cover e
        autoral), revivendo grandes sucessos desde a década de 70 até os anos 2000.
      </p>
      <p>
        Com um setlist bastante eclético dentro das nuances do rock, as
        referências internacionais da banda passam por grandes nomes da música,
        como:
      </p>
      <ul class="influence-list">
        <li class="influence">Creedence Clearwater Revival</li>
        <li class="influence">The Doors</li>
        <li class="influence">Queen</li>
        <li class="influence">Pearl Jam</li>
        <li class="influence">AC/DC</li>
        <li class="influence">Red Hot Chili Peppers</li>
        <li class="influence">Eric Clapton</li>
        <li class="influence">John Mayer</li>
      </ul>
      <p>Em se tratando de artistas nacionais, a Rockfield se inspira em:</p>
      <ul class="influence-list">
        <li class="influence">Legião Urbana</li>
        <li class="influence">Barão Vermelho</li>
        <li class="influence">Raul Seixas</li>
        <li class="influence">Engenheiros do Hawaii</li>
        <li class="influence">Paralamas do Sucesso</li>
        <li class="influence">Raimundos</li>
        <li class="influence">e muitos outros</li>
      </ul>
      <h3>integrantes</h3>
      {% for listMember in site.members %}
        <ul class="members">
          {% for member in listMember %}
            <li>
              <img src="/img/blank.gif" data-echo="/img/{{ member.img }}" width="413" height="413" class="lazy" alt="{{ member.name }}">
              <h4>{{ member.name }} <em>&raquo;</em> <strong>{{ member.instrument }}</strong></h4>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</section>