<section id="the-band" class="section">
  <div class="wrapper">
    <h2>a banda</h2>
    <div class="content">
      <p>
        a rockfield band nasceu em novembro de 2014, na cidade de 
        <strong>Manaus</strong>, no estado do <strong>Amazonas</strong>, com a
        proposta de fazer rock nacional e internacional de qualidade (cover e
        autoral), revivendo grandes sucessos desde a década de 70 até os anos 2000.
      </p>
      <p>
        com um setlist bastante eclético dentro das nuances do rock, as
        referências internacionais da banda passam por grandes nomes da música,
        como:
      </p>
      <ul class="influence-list">
        <li class="influence">creedence clearwater revival</li>
        <li class="influence">the doors</li>
        <li class="influence">queen</li>
        <li class="influence">pearl Jam</li>
        <li class="influence">ac/dc</li>
        <li class="influence">red hot chili peppers</li>
        <li class="influence">eric clapton</li>
        <li class="influence">john mayer</li>
      </ul>
      <p>em se tratando de artistas nacionais, a rockfield se inspira em:</p>
      <ul class="influence-list">
        <li class="influence">legião urbana</li>
        <li class="influence">barão vermelho</li>
        <li class="influence">raul seixas</li>
        <li class="influence">engenheiros do hawaii</li>
        <li class="influence">paralamas do sucesso</li>
        <li class="influence">raimundos</li>
        <li class="influence">e muitos outros</li>
      </ul>
      <h3>integrantes</h3>
      {% for listMember in site.members %}
        <ul class="members">
          {% for member in listMember %}
            <li>
              <img src="/img/blank.gif" data-echo="/img/{{ member.img }}" width="413" height="413" class="lazy" alt="{{ member.name }}">
              <h4>{{ member.name }} <em>&raquo;</em> <strong>{{ member.instrument }}</strong></h4>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</section>